form#DC_Contact {
	margin:0;
	padding:0;
}
form#DC_Contact ul {
	margin:0;
	padding:0;
}
form#DC_Contact li {
	list-style-type:none;
	position:relative;
	width:62%;
	padding:8px;
}
form#DC_Contact li.focused {
	background-color:#fff7c0;
}
form#DC_Contact label {
	display:block;
	font-weight:bold;
}
form#DC_Contact .required {
	color:red;
}
form#DC_Contact div {
	padding:0 0 8px;
}
form#DC_Contact p.instruct {
	display:none;
	position:absolute;
	top:0;
	left:100%;
	width:42%;
	padding:5px;
	margin:0 0 0 15px;
	background-color:#f0f0f0;
	border:1px solid #dedede;
	font-size:11px;
}
form#DC_Contact li:hover p.instruct, form#DC_Contact li.focused p.instruct {
	display:block;
}
form#DC_Contact div textarea, form#DC_Contact div input {
	width:100%;
	border:1px solid #999;
}
form#DC_Contact .results, form#DC_Contact #loading {
	display:none;
}
form#DC_Contact li div.error {
	display:none;
}
form#DC_Contact li.error div.error {
	display:block;
	color:#ff4455;
	font-weight:bold;
	padding:2px;
	font-size:12px;
}
form#DC_Contact li#submit {
	text-align:right;
}